
.callout {
	background-color: #f4f4f4;
}

.callout2 {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #d9534f;
  background-color: #f9f9f9;
}

.photo {
padding:6px;
font-size:.75rem;
}


}
.bodyCopy {
	padding: 50px 0 0 0;
}
.footerStyle {
	background-color: #0045DA;
	color: #fff;
	padding: 12px;
	height: 50px;
	text-align: center;
	margin-top: 50px;
}
.rtt {
	text-align: center;
	margin-top: 50px;
}
.rtt a {
	color: #202033;
	text-decoration: none;
	font-weight: bold;
}
.rtt a:hover {
	color: #09639c;
}