
.body{
background:#111111;
color:#f4f1e8;
margin:0;
}


.header{
text-align:center;
background:#0b3d2e;
padding-bottom:15px;
}

.banner{
width:100%;
height:400px;
object-fit:cover;
}

.slogan{
color:#f4f1e8;
margin-top:0;
}

.top{
background:#236192;
text-align:center;
padding:12px;
margin-top:20px;
}
.top a{
margin:20px;
color:white;
font-weight:bold;
font-size: 20px;
}


h1{
  font-family: "Unbounded", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;color:#F1D836;
font-size:50px;
margin:10px;
}

h2 {
font-family: 'Anton', sans-serif;
font-size:1.5rem;
}

h3 {
	font-family: 'Anton', sans-serif;
	font-size:2.5rem;
}

.ANTphoto {
float: left;
width: 500px;
padding:12px;
}

.Nazphoto {
float: left;
width: 500px;
padding:12px;
}

.Joephoto {
float: left;
width: 500px;
padding:12px;
}

.playerbio{
text-align: left;
}

h4 {
	font-size:1.8rem;
	text-align: center;

}

.footerStyle {
background:black;
color:white;
text-align:center;
padding:15px;
margin-top:40px;
}


